
<div class="Paper-Cards-grid">
    <div class="Paper-card">
        <div class="Paper-element-grid">
            <div class="Paper-Title-Element">
                <h5>
                    Assessment of turbulent blood flow and wall shear stress in aortic coarctation using image-based simulations
                </h5>
            </div>
            <div class="Paper-image-Element">
                <img class="Paper-image" src="/images/Phantom.jpg" />
            </div>
            <div class="Paper-body-Element"> In this study, we analyzed turbulent flows through a phantom (a 180 $$^{\circ }$$ ∘ (oA), </div>
        </div>
    </div>
        <div class="Paper-card">
        <div class="Paper-element-grid">
            <div class="Paper-Title-Element">
                <h5>
                    Assessment of turbulent blood flow and wall shear stress in aortic coarctation using image-based simulations
                </h5>
            </div>
            <div class="Paper-image-Element">
                <img class="Paper-image" src="/images/Phantom.jpg" />
            </div>
            <div class="Paper-body-Element"> In this study, we analyzed turbulent flows through a phantom (a 180 $$^{\circ }$$ ∘ (oA), </div>
        </div>
    </div>
        <div class="Paper-card">
        <div class="Paper-element-grid">
            <div class="Paper-Title-Element">
                <h5>
                    Assessment of turbulent blood flow and wall shear stress in aortic coarctation using image-based simulations
                </h5>
            </div>
            <div class="Paper-image-Element">
                <img class="Paper-image" src="/images/Phantom.jpg" />
            </div>
            <div class="Paper-body-Element"> In this study, we analyzed turbulent flows through a phantom (a 180 $$^{\circ }$$ ∘ (oA), </div>
        </div>
    </div>
        <div class="Paper-card">
        <div class="Paper-element-grid">
            <div class="Paper-Title-Element">
                <h5>
                    Assessment of turbulent blood flow and wall shear stress in aortic coarctation using image-based simulations
                </h5>
            </div>
            <div class="Paper-image-Element">
                <img class="Paper-image" src="/images/Phantom.jpg" />
            </div>
            <div class="Paper-body-Element"> In this study, we analyzed turbulent flows through a phantom (a 180 $$^{\circ }$$ ∘ (oA), </div>
        </div>
    </div>
</div>

