@using System.Timers;

<div class="countdown-timer-grid">
    <div>
        <p>@days</p>
        <span>Days</span>
    </div>
    <div>
        <p>@hours</p>
        <span>Hours</span>
    </div>
    <div>
        <p>@minutes</p>
        <span>Minutes</span>
    </div>
    <div>
        <p>@seconds</p>
        <span>Seconds</span>
    </div>
</div>


@code {
    private Timer timer = new(1000);
    private int days, hours, minutes, seconds;
    private DateTime comingSoonDate;

    protected override async Task OnInitializedAsync()
    {
        // Fill in expected data here
        comingSoonDate = new DateTime(2022, 11, 05);

        timer.Elapsed += (sender, EventArgs) => countdown();
        timer.Start();
        await base.OnInitializedAsync();
    }
    private void countdown()
    {
        var diff = comingSoonDate - DateTime.Now;
        days = diff.Days;
        hours = diff.Hours;
        minutes = diff.Minutes;
        seconds = diff.Seconds;
        StateHasChanged();
    }
}