.countdown-timer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 400px;
}
    .countdown-timer-grid div {
        margin-right: 30px;
    }

        .countdown-timer-grid div p {
            font-size: 100px;
            margin-bottom: -14px;
            color: black;
        }

        .countdown-timer-grid div span {
            font-size: 50px;
            color: black;
        }

@media(max-width:750px) {
    .countdown-timer-grid {
        grid-template-columns: 1fr 1fr;
    }
}

